{% extends 'base.html' %}


{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>

<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to the Customer Service Support.</p>
            <p>We are here to help you. Tell us about your issue and we will call you back as soon se we can. </p>
            <a class="btn btn-primary" href="/new_post" role="button">New entry &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}